[submodule "nanopynix"]
	path = nanopynix
	url = https://github.com/Lillecarl/nanopynix.git
	branch = develop
[submodule "pynixd"]
	path = pynixd
	url = https://github.com/Lillecarl/pynixd.git
	branch = develop
[submodule "easykubenix"]
	path = easykubenix
	url = https://github.com/Lillecarl/easykubenix.git
	branch = develop
[submodule "nixkube"]
	path = nixkube
	url = https://github.com/Lillecarl/nixkube.git
	branch = develop
[submodule "umbrella"]
	path = umbrella
	url = https://github.com/Lillecarl/umbrella.git
	branch = main
[submodule "flake-compatish"]
	path = flake-compatish
	url = https://github.com/lillecarl/flake-compatish.git
	branch = main
[submodule "user-mode-nixos"]
	path = user-mode-nixos
	url = https://github.com/lillecarl/user-mode-nixos.git
	branch = develop
